<p>ripple works!</p>



<div class="container">
    <h2>Components</h2>
    <mat-divider></mat-divider>
     <div class="container">
         <div class="row">
            <div class="col-2">
                <mat-card class="example-card mat-elevation-z0">
                    <mat-icon>
                        smart_button
                    </mat-icon>
                    Buttons
                </mat-card>    
                <mat-card matRipple class="example-card">
                    <mat-icon>
                        smart_button
                    </mat-icon>
                    ToogleButton
                </mat-card> 
                <mat-card matRipple class="example-card">
                    <mat-icon>
                        smart_button
                    </mat-icon>
                    elivation
                </mat-card>    
                <mat-card matRipple class="example-card">
                    <mat-icon>
                        smart_button
                    </mat-icon>
                    Buttons
                </mat-card>    
            </div>
          
         </div>
     </div>
</div>