// .foot{
//     margin:10%;
// }


.head{
    text-align: center;
    background-color:red;
    color:white;
    font-weight: bold;
}
.card{
    align-items: center;
}
.practise{
    margin-left:70px;
    margin-top:17px
}