
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import "assets/css/_partials/grid";
@import "assets/css/_partials/margin";
@import "assets/css/_partials/padding";
@import "assets/css/_partials/utility";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@import "assets/css/_partials/includes";

@include mat.core();



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$uxmaterialdesign-primary: mat.define-palette(mat.$amber-palette);
$uxmaterialdesign-accent: mat.define-palette(mat.$deep-purple-palette, A400);

// The warn palette is optional (defaults to red).
$uxmaterialdesign-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$uxmaterialdesign-theme: mat.define-light-theme((
  color: (
    primary: $uxmaterialdesign-primary,
    accent: $uxmaterialdesign-accent,
    warn: $uxmaterialdesign-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($uxmaterialdesign-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
